# Dataset
Training/
Testing/

# Models
models/*.png
models/resnet50_finetuned.h5
models/resnet50_finetuned.keras

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Notebook checkpoints
.ipynb_checkpoints/

# Environment
.env
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
